<div class="jumbo text-center">
    <h1 class="text-center">ViStock</h1>
    <h5 class="text-center font-weight-light mt-4">Visualize stock data. Make better decisions.</h5>
    <input id="search-bar" class="text-center mt-5" type="text" placeholder="What stock are you looking for?">
</div>